@{
    ViewData["Title"] = "Dish View";
}
@model Dish

<div class="text-center">
    <h1>@Model.Name</h1>

    <h4>@Model.Name by @Model.Chef</h4>

    <p>@Model.Description</p>

    <p>Calories: @Model.Calories</p>

    <p>Tastiness: @Model.Tastiness</p>

    <a href="/dish/@Model.DishId/edit">Edit</a>
    <a href="/dish/@Model.DishId/delete">Delete</a>
    <button><a href="/">Go Back</a></button>
</div>