@model Tea

<div class="d-flex flex-row justify-content-evenly mb3">
        <img src="@Model.Image" class="card-img" alt="@Model.Name">
    <div class="one-body d-flex flex-column mb-3">
        <h2 class="one-title">@Model.Name</h2>
        <p class="bold-one">$@Model.Price</p>
        <p class="one-text">Brand: @Model.Company</p>
        <p class="one-text">Type: @Model.Type</p>
        <p class="one-text">Flavor/Notes: @Model.Flavor</p>
        @if (Model.CaffeineLevel == 1)
        {
            <p class="one-text">Caffeine-free </p>  
        }
        @if (Model.CaffeineLevel == 2)
        {
            <p class="one-text">Low Caffeine </p>  
        }
        @if (Model.CaffeineLevel == 3)
        {
            <p class="one-text">Medium Caffeine </p>  
        }
        @if (Model.CaffeineLevel == 4)
        {
            <p class="one-text">High Caffeine </p>  
        }
        @if (Model.CaffeineLevel == 5)
        {
            <p class="one-text">Coffee-level Caffeine </p>  
        }
        <p class="one-text">Main Ingredients: @Model.Ingredients</p>
        <p class="one-text">Brewing Instructions: @Model.Instructions</p>
        @{bool alreadyLiked = Model.Likes.Any(t => t.UserId == Context.Session.GetInt32("UUID"));}
        @{bool isCreator = Model.Creator.UserId == Context.Session.GetInt32("UUID");}
            @if (isCreator)
            {
                <div class=" one-icon-container mb3">
                    <a
                    asp-controller="Tea"
                    asp-action="Edit"
                    asp-route-id="@Model.TeaId"
                    ><img class="icon" src="~/images/pencil.svg" alt="edit icon"></a>   
                    <form
                    asp-controller="Tea"
                    asp-action="DeleteTea"
                    asp-route-id="@Model.TeaId"
                    >
                    <button class="btn btn-red">
                        <span><img class="delete-icon" src="~/images/delete.svg" alt="delete icon"></span>
                    </button>
                    </form>
                </div>
            }
            else {
                <form
                asp-controller="Tea"
                asp-action="LikeOnOne"
                asp-route-id="@Model.TeaId"
                >
                <button class="btn btn-link">
                    @if (alreadyLiked)
                    {
                        <span><img class="icon" src="~/images/unlike.svg" alt="heart unlike icon"></span>
                    }
                    else
                    {
                        <span><img class="icon" src="~/images/like.svg" alt="heart like icon"></span>
                    }
                </button>
                </form>
            }
        <p class="one-text">Added By @Model.Creator.FirstName @Model.Creator.LastName</p>
    </div>
</div>